@charset "utf-8";
/* CSS Document */
body, a, div, img, table, td, th, tr, ul, li, dl, dt, dd, h1, h2, h3, p {margin: 0; padding: 0; border: 0 none; list-style:none; }
body{font-size:14px; line-height:22px; font-family:Arial,Helvetica,"微软雅黑",sans-serif; color: #666; width:100%; height:100%; position:relative; }
html{width:100%; height:100%; overflow:hidden; }
ul,li{list-style: none; }
.fl{float: left; }
.fr{float: right; }
.clear{clear: both; }
.button{width: 110px; min-height: 20px; display: block; background-color: #4a77d4; border: 1px solid #3762bc; color: #fff; padding: 5px 14px; font-size: 16px; line-height: normal; margin: 10px 0 0 10px; cursor: pointer; }
.button:hover{background-color: #1a77d4; border: 1px solid #1a77d4;}
.gray{background-color: #aaa; border: 1px solid #aaa;}
.gray:hover{background-color: #999; border: 1px solid #999;}
