<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="footersource">
        <div class="footer">Copyright © 2017 By 8th Allrights Reserved.</div>
        <div class="footer"></div>
        <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="js/jquery.min.js"></script>
        <script type="text/javascript" th:src="@{/js/common.js}" src="js/common.js"></script>
        <script type="text/javascript" th:src="@{/js/js.js}" src="js/js.js"></script>
    </div>
</body>
</html>